<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>Our website is in maintenance :(</h1>
        <p>We were attacked by aliens and after they leave, we'll be back!!!</p>
    </body>
</html>